# Ege Bölgesi İçin Kira Tahmini Uygulaması

In [86]:
import os
import numpy as np
import pandas as pd

In [87]:
df = pd.read_csv('hepsiemlak/01.csv')

In [88]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   img-link href        1416 non-null   object
 1   photo-count          1416 non-null   int64
 2   list-view-price      1416 non-null   object
 3   list-view-date       1416 non-null   object
 4   left                 1416 non-null   object
 5   celly                1416 non-null   object
 6   celly 2              1416 non-null   object
 7   celly 3              1416 non-null   object
 8   celly 4              1247 non-null   object
 9   list-view-location   1416 non-null   object
 10  img-wrp href         642 non-null    object
 11  he-lazy-image src    1321 non-null   object
 12  he-lazy-image src 2  563 non-null    object
 13  list-view-header     1412 non-null   object
dtypes: int64(1), object(13)
memory usage: 155.0+ KB
None

In [89]:
def drop_columns(df, cols):
    for col in cols:
        try:
            df.drop([col], axis=1, inplace=True)
        except Exception as e:
            print(f"Bir hata oluştu: {e}")

In [90]:
files = os.listdir("hepsiemlak")
df = pd.concat([pd.read_csv(f"hepsiemlak/{file}") for file in files], ignore_index=True)

In [91]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   img-link href        8136 non-null   object
 1   photo-count          8130 non-null   float64
 2   list-view-price      8136 non-null   object
 3   list-view-date       8136 non-null   object
 4   left                 8114 non-null   object
 5   celly                8136 non-null   object
 6   celly 2              8136 non-null   object
 7   celly 3              8136 non-null   object
 8   celly 4              6858 non-null   object
 9   list-view-location   8136 non-null   object
 10  img-wrp href         4555 non-null   object
 11  he-lazy-image src    7649 non-null   object
 12  he-lazy-image src 2  4067 non-null   object
 13  list-view-header     8129 non-null   object
 14  branded__text        134 non-null    object
 15  branded__text 2      134 non-null    object
 16  img-wrp href 2       133 non-null    object
 17  he-lazy-image src 3  116 non-null    object
dtypes: float64(1), object(17)
memory usage: 1.1+ MB
None

In [92]:
df.sample(5)

,img-link href,photo-count,list-view-price,list-view-date,left,celly,celly 2,celly 3,celly 4,list-view-location,img-wrp href,he-lazy-image src,he-lazy-image src 2,list-view-header,branded__text,branded__text 2,img-wrp href 2,he-lazy-image src 3
1841,https://www.hepsiemlak.com/izmir-bornova-inonu...,10.0,13.500,20-02-2024,Kiralık Daire,1 +\n 1,80 m²,25\n Yaşında,4. Kat,"Bornova, İnönü Mahallesi",NaN,https://hecdn01.hemlak.com/mncropresize/182/13...,NaN,İzmir Bornova İnönü Mah. Kiralık Eşyalı Daire 1+1,NaN,NaN,NaN,NaN
4209,https://www.hepsiemlak.com/aydin-efeler-hasane...,27.0,13.000,26-03-2024,Kiralık Daire,3 +\n 1,140 m²,25\n Yaşında,Ara Kat,"Efeler, Hasanefendi - Ramazan Paşa Mahallesi",NaN,https://hecdn01.hemlak.com/mncropresize/182/13...,NaN,Hasanefendi Mahallesınde 3+1kiralık Daire,NaN,NaN,NaN,NaN
4964,https://www.hepsiemlak.com/denizli-merkezefend...,59.0,12.000,27-03-2024,Kiralık Daire,2 +\n 1,100 m²,Sıfır Bina,2. Kat,"Merkezefendi, Şemikler Mahallesi",https://www.hepsiemlak.com/emlak-ofisi/ozyapi-...,https://hecdn01.hemlak.com/mncropresize/182/13...,https://hecdnnw.hemlak.com/mncropresize/91/68/...,Özyapı'dan Naz Bayrak Yakını 100 M² 2+1 Kira...,NaN,NaN,NaN,NaN
7368,https://www.hepsiemlak.com/mugla-mentese-akcao...,11.0,15.000,06-03-2024,Kiralık Daire,3 +\n 1,125 m²,15\n Yaşında,2. Kat,"Menteşe, Akçaova Mahallesi",NaN,NaN,NaN,Akçaova Mh. Kiralik Daire,NaN,NaN,NaN,NaN
2829,https://www.hepsiemlak.com/izmir-urla-iskele-k...,35.0,40.000,19-02-2024,Kiralık Daire,2 +\n 1,95 m²,5\n Yaşında,Yüksek Giriş,"Urla, İskele Mahallesi",https://www.hepsiemlak.com/emlak-ofisi/kw-ales...,https://hecdn01.hemlak.com/mncropresize/182/13...,https://hecdnnw.hemlak.com/mncropresize/91/68/...,Urla İskele'nin Engüzel Deniz Manzarasna Sahip...,NaN,NaN,NaN,NaN

In [93]:
print(df.columns)

Index(['img-link href', 'photo-count', 'list-view-price', 'list-view-date',
       'left', 'celly', 'celly 2', 'celly 3', 'celly 4', 'list-view-location',
       'img-wrp href', 'he-lazy-image src', 'he-lazy-image src 2',
       'list-view-header', 'branded__text', 'branded__text 2',
       'img-wrp href 2', 'he-lazy-image src 3'],
      dtype='object')

In [94]:
cols = ['photo-count','list-view-date','left','list-view-location','img-wrp href', 'he-lazy-image src', 'he-lazy-image src 2','list-view-header', 'branded__text', 'branded__text 2','img-wrp href 2', 'he-lazy-image src 3']
drop_columns(df, cols)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   img-link href    8136 non-null   object
 1   list-view-price  8136 non-null   object
 2   celly            8136 non-null   object
 3   celly 2          8136 non-null   object
 4   celly 3          8136 non-null   object
 5   celly 4          6858 non-null   object
dtypes: object(6)
memory usage: 381.5+ KB

In [96]:
df["location"] = df["img-link href"].apply(lambda x: x.split("/")[3])
df["city"] = df["location"].str.split("-").str[0]
df["district"] = df["location"].str.split("-").str[1]
df["neighborhood"] = df["location"].str.split("-").str[2:-1]
df["neighborhood"] = df["neighborhood"].apply(lambda x: "_".join(x))
print(df["neighborhood"].unique())

['kilic_reis' 'akin_simav' 'adatepe' 'yaylacik' 'bahcelievler' 'kultur'
 'kazimdirik' 'yesil' 'atifbey' 'dokuz_eylul' 'irmak' 'cumhuriyet'
 'gumuldur_inonu' 'alacati' 'esenyali' 'bostanli' 'colak_ibrahim_bey'
 'cakmakli' 'yali' 'umut' 'manavkuyu' 'cakaltepe' 'ataturk' 'camlicay'
 'kucuk_cigli' 'cetin_emec' 'zafer' 'sogukkuyu' 'zubeyde_hanim' 'emek'
 'cakabey' 'germiyan' 'yenikent' 'yenigun' 'barbaros' 'gulyaka'
 'yasar_kemal' 'general_kazim_ozalp' 'kozagac' 'goncalar' 'mansuroglu'
 'denizli' 'bayrakli' 'egitim' 'evka_3' 'mithatpasa' 'fatih' 'altievler'
 'limanreis' 'guvendik' 'yesiltepe' 'atasehir' 'cukuralti' 'esentepe'
 'kemal_ataturk' 'mehmet_ali_akman' '29_ekim' 'onur' 'tuna' 'kabakum'
 'fevzi_cakmak' 'gazikent' 'erzene' 'camli' 'poligon' 'goztepe' 'atilla'
 'doganay' 'cuneytbey' 'kurucesme' 'altinyunus' 'balatcik' 'reisdere'
 'bahriye_ucok' 'uckuyular' 'dedebasi' 'imbatli' 'firat' 'ismet_inonu'
 'tahsin_yazici' 'ilica' 'vatan' 'camtepe' 'ornekkoy' 'semikler'
 'alsancak' 'metin_oktay' 'atakent' 'doganlar' 'donanmaci' 'murat_reis'
 'dalyan' 'nergiz' 'orhanli' 'kemal_reis' 'torasan' 'alaybey'
 'kahramanlar' 'bahariye' 'altay' 'refet_bele' 'mustafa_kemal_ataturk'
 'camlikule' 'koruturk' 'tepekule' 'inkilap' 'basin_sitesi' 'aksoy'
 'turgut_reis' 'gulbahce' 'mimar_sinan' 'tersane' 'bahar' 'koyici'
 'kazim_karabekir' 'arap_hasan' 'ciftlik' 'piri_reis' '16_eylul'
 'sirinkent' 'mevlana' 'ismetpasa' 'maltepe' 'aydinlikevler' 'musalla'
 'aydogdu' 'gumuldur_fevzi_cakmak' 'candarli' '30_agustos' 'kahramandere'
 'hidirlik' 'halkapinar' 'fikri_altay' 'ali_fuat_cebesoy' 'yildiz'
 'osmangazi' 'selvili' 'yesilova' 'salimbey' 'kemalpasa' 'narli' 'saip'
 '75_yil' 'yedi_eylul' 'inonu' 'yenikale' 'gorece_cumhuriyet' 'salihler'
 'ahmet_efendi' 'rafet_pasa' 'muhittin_erener' 'gunesli' 'maliyeciler'
 'kasimpasa' 'mavisehir' '9_eylul' 'gazipasa' 'sakarya' 'calikusu'
 'ulucak_mustafa_kemal_ataturk' 'gazi' 'cicek' 'mordogan' 'bozyaka'
 'baris' 'zafertepe' 'mustafa_kemal_pasa' 'altintas' 'golcukler'
 'mermerli' 'celal_bayar' 'hurriyet' 'goksu' 'ovacik' 'efeler'
 'zeytinalani' 'sevgi' 'anafartalar' 'ulamis' 'iskele' 'teleferik'
 'yurdoglu' 'balikliova' 'gazi_mustafa_kemal' 'guzelyali' 'tepekoy'
 'adalet' 'merkez' 'camikebir' 'selcuk' 'ozbek' 'villakent' 'ulus'
 'r_sevket_ince' 'aydin' 'cay' 'sahilevleri' 'menderes' 'ilipinar'
 'ugur_mumcu' 'kazim_dirik' 'kurtulus' 'fuat_edip_baksi' 'zeytinlik'
 '85_yil_cumhuriyet' 'turabiye' 'camlipinar' 'yesilbaglar'
 'gumuldur_ataturk' 'cankaya' 'evka_4' 'yenibagarasi' 'yemislik' 'torbali'
 'yelki' 'egekent' '2_inonu' 'uzundere' 'guven' 'buca_osb' 'kalabak'
 'yenice' 'istiklal' 'yesil_pinar' 'mustafa_kemal' 'kosukavak'
 'fahrettin_altay' 'yakakent' 'korfez' 'ayvatlar' 'ayrancilar'
 'incirli_pinar' 'tulbentli' 'oglananasi_ataturk' 'camlik' 'sigacik'
 'huzur' 'gunaltay' 'kizilay' 'evka_5' 'isa_bey' 'ardic' 'kavaklidere'
 'harmandali_gazi_mustafa_kemal_ataturk' 'gurpinar' 'fevzipasa'
 'ozdere_cumhuriyet' 'bademli' 'sifne' 'umurbey' 'devrim' 'reis' 'yelalti'
 'bademler' 'catalkaya' 'postacilar' 'tinaztepe' 'karacaoglan' 'ildir'
 'sasalli_merkez' 'laleli' 'ergene' 'evka_6' 'yahselli' 'boyalik'
 'gunerli' 'dicle' 'salih_omurtak' 'esatpasa' 'guzeltepe'
 'suleyman_demirel' 'haciveli' 'alpaslan' 'siteler' 'yamanlar' 'kuscular'
 'gumuspala' 'yenikoy' 'yukarikizilca_merkez' 'dumlupinar' '14_mayis'
 'ufuk' 'demirkopru' 'turkcedit' 'vali_rahmi_bey' 'muammer_akar'
 'm_fevzi_cakmak' 'dogancay' 'bengiler' 'gaziler' '4_eylul' 'peker'
 'muratbey' 'yeni_mahalle' 'kuner' 'murathan' 'belen' 'gazi_osman_pasa'
 'emrez' 'cennetoglu' 'akincilar' 'ulucak_cumhuriyet' 'esenlik'
 'ahmet_taner_kislali' 'yigitler' 'payamli' 'armutlu_85_yil_cumhuriyet'
 'sasal' 'ertugrul' 'sirinkapi' 'kozbeyli' 'bengisu' 'gumuldur_cumhuriyet'
 'adnan_suvari' 'beyazevler' 'buca_koop' 'emmioglu' 'rustem' 'dagkizilca'
 'ahmetbeyli' 'haci_isa' 'icmeler' 'tepecik' 'develi' 'birlik' 'kocatepe'
 'dolaylar' 'yagcilar' 'oglananasi_cumhuriyet' 'turkmen' 'izkent'
 'turkmenkoy' 'armutlu_hurriyet' 'adnan_menderes' 'duzce' 'akdeniz'
 'pancar' 'yazibasi' 'cinarli' 'aziziye' 'org_nafiz_gurman' 'inciralti'
 'orta' 'etiler' 'tuzcu' 'karanfil' 'cinar' 'celebi' 'sira' 'caldiran'
 'gunluce' 'sehit_mehmet' 'bagcilar' 'mesrutiyet' 'universite' 'konak'
 'maresal_fevzi_cakmak' 'karacaagac' 'degirmendere' 'doga' 'gungor' 'umit'
 'aktepe' 'seyhan' 'yaylayurt' 'birgi' 'mersin_alani' 'ocakli'
 'sekiz_eylul' 'evka_2' 'fahrettinpasa' 'karabaglar' 'sirintepe' 'golcuk'
 'yeni' 'ataturk_osb' 'egemenlik' '2_kadriye' 'kazimpasa' 'ahihidir'
 'muradiye' '2_anafartalar' 'kuyualan' 'goktasli' 'dincer' 'resat_bey'
 'guzelyurt' 'ulu_camii' 'acarlar' 'haci_ishak' 'pasa' 'uncubozkoy'
 'eski_cami' 'kirveli' 'ergenekon' 'efendi' 'arda' 'albayrak'
 'selvilitepe' 'hafsa_sultan' 'topcuasim' 'ragip_bey' 'mesir' 'kocacesme'
 'medar' 'tunca' 'yoruk' 'karaali' '1_anafartalar' 'yarhasanlar'
 'sehitler' 'subasi' 'tevfikiye' 'kethuda' 'istasyonalti' 'durasilli'
 'utku' 'dere' 'seyit_ahmet' 'gokceahmet' 'ayni_ali' 'has_hoca'
 'merkez_efendi' 'saripinar' 'cengiz_topel' 'kecili_koy' 'carsi' 'ege'
 'istasyon' 'akmescit' 'dilsikar' 'gaybiefendi' 'yunusemre' 'meydan'
 'fuatpasa' 'saray' 'parmakoren' 'akkent' 'dagcesme' 'alipasa'
 'yildirim_beyazit' 'servi' 'balikli' 'mecidiye' 'omerbey' 'g_kemal'
 'kemaloz' 'durak' 'unalan' 'hasan_karaagac' 'erenler' 'ali_ihsan_pasa'
 'erkmen_fevzi_cakmak' 'kanlica' 'dortyol' 'sahipata' 'osman_gazi' 'asagi'
 'aktas' 'sirinevler' 'veysel_karani' 'pinarli' 'dervis_pasa' 'esrefpasa'
 'imaret' 'marulcu' 'karsiyaka' 'haci_musa' 'yunus_emre' 'nazmi_saatci'
 'selcuklu' 'sazi' 'guzelcamli' 'isabeyli' 'akbuk' 'ikicesmelik' 'zeybek'
 'karaova' 'guzelhisar' 'yavansu' 'gerenkova' 'cuma' 'girne' 'davutlar'
 'ovaeymir' 'hasanefendi_ramazan_pasa' 'hisar' 'bayraklidede'
 'kadinlar_denizi' 'sogucak' 'koprulu_veysipasa' 'sumer' 'altinkum' 'ata'
 'zeytinkoy' 'yenicamii' 'kemer' 'hacifeyzullah' 'kadikalesi' 'uceylul'
 'yilmazkoy' 'hamitabat' 'ortaklar' 'mesudiye' 'yedieylul' 'yamac'
 'sevketiye' 'isikli' 'alacamescit' 'caferli' 'agacli' 'imamkoy' 'karacay'
 'turan' 'sandikli' 'celtikci' 'yaylakoy' 'karakollar' 'mersindere'
 'camiatik' 'degirmenonu' 'muratdede' 'topraklik' 'kuspinar' 'sirakapilar'
 'akkonak' 'incilipinar' 'feslegen' 'karaman' 'gultepe' 'mehmetcik'
 'selcuk_bey' 'karahasanli' 'saraylar' 'asmalievler' 'kinikli' 'kayalar'
 'hacikaplanlar' 'bagbasi' 'kervansaray' 'atalar' 'gumuscay' '15_mayis'
 'sevindik' 'bala' 'kizilcasogut' 'deliktas' 'gerzele' 'pelitlibag'
 'mehmet_akif_ersoy' 'kocadere' 'servergazi' 'saruhan' 'hallaclar'
 'altintop' 'sirinkoy' 'ilbade' 'yenisafak' 'zumrut' 'gokpinar'
 'dokuzkavaklar' 'tekke' 'cankurtaran' 'bereketler' '1200_evler' 'kayihan'
 'cakmak' 'garipkoy' 'yenisehir' 'gemispinari' 'karakurt' 'dirmil'
 'inlice' 'eskicesme' 'muskebi' 'emirbeyazit' 'umurca' 'okcular' 'akyaka'
 'gulluk' 'gundogan' 'kemaliye' 'bitez' 'karacali' 'golkoy' 'kucukbuk'
 'cayli' 'gumusluk' 'kafaca' 'karaburun' 'gokova' 'yalikavak' 'gulpinar'
 'dorttepe' 'yangi' 'sogutluyurt' 'armutalan' 'geris' 'ismet_pasa'
 'ortakoy' 'cirkan' 'hamitkoy' 'gelisim' 'torba' 'turgutreis' 'beldibi'
 'kumbahce' 'patlangic' 'bayir' 'akyarlar' 'oren' 'beyobasi' 'karamehmet'
 'terzialiler' 'karagedik' 'akcaalan' 'bogazici' 'dogusbelen' 'yakakoy'
 'turgut' 'dugerek' 'guvercinlik' 'turkbuku' 'orhaniye' 'tuzla' 'kizlan'
 'koyunbaba' 'foca' 'karabag' 'emecik' 'yokusbasi' 'gumbet' 'derekoy'
 'alparslan' 'akarca' 'kotekli' 'karaculha' 'toparlar' 'islamhaneleri'
 'camkoy' 'babatasi' 'yesilyurt' 'akinci' 'cami' 'kesikkapi' 'becin'
 'resadiye' 'gurece' 'pinar' 'pazaryeri' 'mumcular' 'menteseoglu' 'tepe'
 'sogut' 'tasyaka' 'beskopru' 'oludeniz' 'gokce' 'ulucami' 'peksimet'
 'gocek' 'bozalan' 'gunes' 'turkevleri' 'yahsi' 'serefler' 'datca' 'yaka'
 'kayakoy' 'farilya' 'eksiliyurt' 'muslihittin' 'kargi' 'kapukargin'
 'kizilagac' 'eskikoy' 'dalakli' 'pinarlibelen' 'haci_ilyas' 'kizilbel'
 'sarigerme' 'koprubasi' 'portakallik' 'dikmekavak' 'yesilkoy' 'sariana'
 'ugurlu' 'konacik' 'turunc' 'gulagzi' 'yaniklar' 'kazikli' 'turkkuyusu'
 'fevziye' 'kemeralti' 'arikbasi' 'selimiye' 'kiyikislacik' 'cevat_sakir'
 'haciabti' 'cildir' 'meselik' 'ekincik' 'hisaronu' 'akcaova'
 'ahmet_cavus_hayitli' 'yerkesik' 'yayla' 'gokceovacik' 'cokertme'
 'kizilyaka' 'karginkuru' 'catalarik' 'bezkese' 'hatipirimi' 'zaferler'
 'karagozler' 'firuzpasa_gazipasa' 'ayazkiyi' 'esenkoy' 'seyh' 'karakoy'
 'mergenli' 'dogan' 'kavakarasi' 'kizilkaya' 'kumkoy' 'yazi' 'hacirustem'
 'yaras' 'tepearasi' 'sindi' 'kiran' 'koru' 'gerisburnu' 'citlik'
 'golbasi' 'kiramettin' 'incirkoy' 'burgaz']

In [97]:
drop_columns(df, ["location","img-link href"])

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly            8136 non-null   object
 2   celly 2          8136 non-null   object
 3   celly 3          8136 non-null   object
 4   celly 4          6858 non-null   object
 5   city             8136 non-null   object
 6   district         8136 non-null   object
 7   neighborhood     8136 non-null   object
dtypes: object(8)
memory usage: 508.6+ KB

In [99]:
print(df[["city","district","neighborhood"]].sample(50))

                city      district neighborhood
2782           izmir          buca       efeler
4199           aydin        efeler        girne
6177           mugla           ula    koprubasi
5405         denizli     pamukkale  asmalievler
7537           mugla        bodrum     akyarlar
3330           izmir         cesme   cumhuriyet
33             izmir     karsiyaka     bostanli
6912           mugla        bodrum     kucukbuk
2516           izmir         konak       kultur
6668           mugla       dalaman      bezkese
2540           izmir       bornova       evka_3
5887           mugla        bodrum     kumbahce
141            izmir         cigli     balatcik
2806           izmir         cesme   cumhuriyet
4568           aydin        efeler          ata
1755           izmir         konak  mimar_sinan
958            izmir         cesme        ilica
6459           mugla      marmaris         tepe
3955  afyonkarahisar        merkez     istiklal
2223           izmir        odemis        zafer
6113           mugla       fethiye       akarca
1656           izmir         konak    guzelyali
4595           aydin      kusadasi     davutlar
6619           mugla       dalaman       merkez
7288           mugla        bodrum    eskicesme
5738           mugla        bodrum    eskicesme
4811           aydin        efeler   cumhuriyet
7932           mugla        bodrum        geris
573            izmir      bayrakli       75_yil
2875           izmir         cesme        ardic
2950           izmir          urla      icmeler
7004           mugla         datca       emecik
4456           aydin        efeler   mesrutiyet
2167           izmir    karabaglar    uckuyular
2209           izmir       bornova   kazimdirik
227            izmir          buca      kozagac
4865         denizli     pamukkale  asmalievler
4242           aydin       nazilli     kurtulus
681            izmir     karsiyaka        aksoy
7763           mugla        bodrum        yahsi
7050           mugla        bodrum        geris
7293           mugla        ortaca       dalyan
5266         denizli  merkezefendi    yenisafak
4740           aydin        efeler       efeler
5478         denizli     pamukkale     istiklal
7967           mugla       dalaman       merkez
985            izmir       menemen   30_agustos
1914           izmir        dikili     candarli
4832         denizli  merkezefendi      gultepe
6179           mugla       mentese   karamehmet

In [100]:
print(df.columns)

Index(['list-view-price', 'celly', 'celly 2', 'celly 3', 'celly 4', 'city',
       'district', 'neighborhood'],
      dtype='object')

In [101]:
print(df["celly"].unique())

['1 +\n                        1' '3 +\n                        1'
 '2 +\n                        1' '4 +\n                        1'
 '4 +\n                        2' '5 +\n                        1'
 '6 +\n                        1' '7 +\n                        1'
 '21 +\n                        1' '6 +\n                        2'
 '5 +\n                        2' 'Stüdyo'
 '7 +\n                        2' '3 +\n                        2'
 '2 +\n                        0' '6 +\n                        0'
 '9 +\n                        4' '9 +\n                        1'
 '3 +\n                        0' '1 +\n                        15'
 '2 +\n                        2' '8 +\n                        1'
 '41 +\n                        4' '4 +\n                        0'
 '1 +\n                        25' '4 +\n                        4'
 '3 +\n                        4' '1 +\n                        2'
 '3 +\n                        3' '31 +\n                        1'
 '4 +\n                        3' '9 +\n                        5'
 '8 +\n                        4' '4 +\n                        5'
 '9 +\n                        3' '25 +\n                        5'
 '8 +\n                        0' '9 +\n                        9'
 '14 +\n                        6' '10 +\n                        1']

In [102]:
df["celly"] = df["celly"].apply(lambda x: x.replace("Stüdyo", "1 + 0"))
df["celly"] = df["celly"].apply(lambda x: x.replace("\n", ""))
df["room"] = df["celly"].apply(lambda x: x.split("+")[0]).astype(int)
df["living_room"] = df["celly"].apply(lambda x: x.split("+")[1]).astype(int)

In [103]:
print(df["room"].unique())
print(df["living_room"].unique())

[ 1  3  2  4  5  6  7 21  9  8 41 31 25 14 10]
[ 1  2  0  4 15 25  3  5  9  6]

In [104]:
drop_columns(df, ["celly"])

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly 2          8136 non-null   object
 2   celly 3          8136 non-null   object
 3   celly 4          6858 non-null   object
 4   city             8136 non-null   object
 5   district         8136 non-null   object
 6   neighborhood     8136 non-null   object
 7   room             8136 non-null   int32
 8   living_room      8136 non-null   int32
dtypes: int32(2), object(7)
memory usage: 508.6+ KB

In [106]:
print(df["celly 2"].unique())

['55 m²' '150 m²' '60 m²' '160 m²' '135 m²' '67 m²' '140 m²' '170 m²'
 '130 m²' '230 m²' '220 m²' '210 m²' '89 m²' '120 m²' '200 m²' '355 m²'
 '75 m²' '110 m²' '100 m²' '65 m²' '145 m²' '115 m²' '1.000 m²' '250 m²'
 '105 m²' '50 m²' '87 m²' '90 m²' '85 m²' '155 m²' '275 m²' '240 m²'
 '95 m²' '174 m²' '80 m²' '125 m²' '180 m²' '165 m²' '350 m²' '97 m²'
 '45 m²' '300 m²' '84 m²' '42 m²' '98 m²' '86 m²' '500 m²' '70 m²' '51 m²'
 '73 m²' '132 m²' '325 m²' '141 m²' '450 m²' '600 m²' '47 m²' '72 m²'
 '71 m²' '3.000 m²' '175 m²' '320 m²' '280 m²' '156 m²' '190 m²' '78 m²'
 '162 m²' '185 m²' '18 m²' '330 m²' '151 m²' '56 m²' '136 m²' '131 m²'
 '48 m²' '580 m²' '119 m²' '147 m²' '77 m²' '245 m²' '35 m²' '375 m²'
 '146 m²' '161 m²' '163 m²' '149 m²' '206 m²' '138 m²' '93 m²' '63 m²'
 '41 m²' '183 m²' '96 m²' '108 m²' '76 m²' '475 m²' '359 m²' '124 m²'
 '91 m²' '194 m²' '43 m²' '4.500 m²' '68 m²' '205 m²' '20 m²' '103 m²'
 '53 m²' '270 m²' '58 m²' '302 m²' '505 m²' '800 m²' '168 m²' '154 m²'
 '368 m²' '178 m²' '40 m²' '750 m²' '92 m²' '181 m²' '400 m²' '30 m²'
 '260 m²' '460 m²' '390 m²' '64 m²' '360 m²' '340 m²' '550 m²' '38 m²'
 '121 m²' '4.000 m²' '295 m²' '112 m²' '137 m²' '22 m²' '128 m²'
 '3.200 m²' '440 m²' '122 m²' '370 m²' '380 m²' '204 m²' '148 m²' '142 m²'
 '520 m²' '166 m²' '870 m²' '143 m²' '57 m²' '286 m²' '81 m²' '116 m²'
 '209 m²' '59 m²' '106 m²' '74 m²' '1.301 m²' '52 m²' '167 m²' '217 m²'
 '25 m²' '290 m²' '196 m²' '184 m²' '159 m²' '195 m²' '640 m²' '285 m²'
 '235 m²' '337 m²' '211 m²' '134 m²' '832 m²' '152 m²' '88 m²' '213 m²'
 '126 m²' '255 m²' '199 m²' '127 m²' '11 m²' '66 m²' '399 m²' '187 m²'
 '341 m²' '745 m²' '118 m²' '144 m²' '15 m²' '535 m²' '5.500 m²' '114 m²'
 '208 m²' '94 m²' '46 m²' '173 m²' '900 m²' '225 m²' '402 m²' '111 m²'
 '193 m²' '1.100 m²' '212 m²' '102 m²' '177 m²' '101 m²' '164 m²' '158 m²'
 '62 m²' '172 m²' '9.000 m²' '21 m²' '117 m²' '82 m²' '49 m²' '176 m²'
 '182 m²' '981 m²' '256 m²' '32 m²' '3.510 m²' '215 m²' '1.057 m²'
 '171 m²' '79 m²' '169 m²' '28 m²' '104 m²' '201 m²' '310 m²' '1.150 m²'
 '2.000 m²' '228 m²' '700 m²' '349 m²' '203 m²' '510 m²' '31 m²' '33 m²'
 '950 m²' '650 m²' '252 m²' '493 m²' '265 m²' '1.400 m²' '5 m²' '113 m²'
 '36 m²' '317 m²' '850 m²' '249 m²' '109 m²' '420 m²' '995 m²' '545 m²'
 '192 m²' '1.250 m²' '490 m²' '760 m²' '157 m²' '54 m²' '405 m²' '99 m²']

In [107]:
df["celly 2"] = df["celly 2"].apply(lambda x: x.replace(".", ""))
df["area"] = df["celly 2"].apply(lambda x: x.split(" ")[0]).astype(int)

In [108]:
print(df["area"].unique())

[  55  150   60  160  135   67  140  170  130  230  220  210   89  120
  200  355   75  110  100   65  145  115 1000  250  105   50   87   90
   85  155  275  240   95  174   80  125  180  165  350   97   45  300
   84   42   98   86  500   70   51   73  132  325  141  450  600   47
   72   71 3000  175  320  280  156  190   78  162  185   18  330  151
   56  136  131   48  580  119  147   77  245   35  375  146  161  163
  149  206  138   93   63   41  183   96  108   76  475  359  124   91
  194   43 4500   68  205   20  103   53  270   58  302  505  800  168
  154  368  178   40  750   92  181  400   30  260  460  390   64  360
  340  550   38  121 4000  295  112  137   22  128 3200  440  122  370
  380  204  148  142  520  166  870  143   57  286   81  116  209   59
  106   74 1301   52  167  217   25  290  196  184  159  195  640  285
  235  337  211  134  832  152   88  213  126  255  199  127   11   66
  399  187  341  745  118  144   15  535 5500  114  208   94   46  173
  900  225  402  111  193 1100  212  102  177  101  164  158   62  172
 9000   21  117   82   49  176  182  981  256   32 3510  215 1057  171
   79  169   28  104  201  310 1150 2000  228  700  349  203  510   31
   33  950  650  252  493  265 1400    5  113   36  317  850  249  109
  420  995  545  192 1250  490  760  157   54  405   99]

In [109]:
drop_columns(df, ["celly 2"])

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly 3          8136 non-null   object
 2   celly 4          6858 non-null   object
 3   city             8136 non-null   object
 4   district         8136 non-null   object
 5   neighborhood     8136 non-null   object
 6   room             8136 non-null   int32
 7   living_room      8136 non-null   int32
 8   area             8136 non-null   int32
dtypes: int32(3), object(6)
memory usage: 476.8+ KB

In [111]:
print(df["celly 3"].unique())

['25\n                      Yaşında' '35\n                      Yaşında'
 '2\n                      Yaşında' '27\n                      Yaşında'
 '15\n                      Yaşında' '10\n                      Yaşında'
 '20\n                      Yaşında' '30\n                      Yaşında'
 '16\n                      Yaşında' '11\n                      Yaşında'
 '31\n                      Yaşında' 'Sıfır Bina'
 '5\n                      Yaşında' '26\n                      Yaşında'
 '12\n                      Yaşında' '4\n                      Yaşında'
 '6\n                      Yaşında' '22\n                      Yaşında'
 '23\n                      Yaşında' '29\n                      Yaşında'
 '3\n                      Yaşında' '8\n                      Yaşında'
 '33\n                      Yaşında' '50\n                      Yaşında'
 '7\n                      Yaşında' '18\n                      Yaşında'
 '32\n                      Yaşında' '28\n                      Yaşında'
 '14\n                      Yaşında' '40\n                      Yaşında'
 '9\n                      Yaşında' '21\n                      Yaşında'
 '45\n                      Yaşında' '38\n                      Yaşında'
 '19\n                      Yaşında' '24\n                      Yaşında'
 '17\n                      Yaşında' '1\n                      Yaşında'
 '36\n                      Yaşında' '34\n                      Yaşında'
 '13\n                      Yaşında' '42\n                      Yaşında'
 '44\n                      Yaşında' '43\n                      Yaşında'
 '37\n                      Yaşında' '55\n                      Yaşında'
 '47\n                      Yaşında' '39\n                      Yaşında'
 '49\n                      Yaşında' '52\n                      Yaşında'
 '300\n                      Yaşında' '199\n                      Yaşında'
 '48\n                      Yaşında' '60\n                      Yaşında'
 '61\n                      Yaşında' '600\n                      Yaşında'
 '100\n                      Yaşında']

In [112]:
df["celly 3"] = df["celly 3"].apply(lambda x: x.replace("Sıfır Bina", "0"))
df["celly 3"] = df["celly 3"].apply(lambda x: x.replace("\n", " "))
df["age"] = df["celly 3"].apply(lambda x: x.split(" ")[0]).astype(int)

In [113]:
drop_columns(df, ["celly 3"])

In [114]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly 4          6858 non-null   object
 2   city             8136 non-null   object
 3   district         8136 non-null   object
 4   neighborhood     8136 non-null   object
 5   room             8136 non-null   int32
 6   living_room      8136 non-null   int32
 7   area             8136 non-null   int32
 8   age              8136 non-null   int32
dtypes: int32(4), object(5)
memory usage: 445.1+ KB
None

In [115]:
print(df["celly 4"].unique())

['Yüksek Giriş' '3. Kat' 'Ara Kat' '4. Kat' '2. Kat' 'Zemin' nan
 'Tripleks' 'Villa Katı' 'Bahçe Katı' '1. Kat' '8. Kat' '6. Kat'
 'Giriş Katı' '5. Kat' '7. Kat' '21 ve üzeri' 'En Üst Kat' 'Teras Katı'
 '13. Kat' 'Kot 1' '9. Kat' 'Çatı Katı' '10. Kat' '12. Kat' 'Kot 2'
 '15. Kat' 'Bodrum ve Zemin' '11. Kat' 'Kot 3' '18. Kat' '20. Kat'
 'Yarı Bodrum' '14. Kat' '16. Kat' '17. Kat' 'Asma Kat' 'Bodrum' '19. Kat']

In [116]:
replace_dict = {
    "Kot 2": "-2. Kat",
    "Kot 1": "-1. Kat",
    "Yüksek Giriş": "1. Kat",
    "Ara Kat": "3. Kat",
    "En Üst Kat": "5. Kat",
    "Bahçe Katı": "0. Kat",
    "Yarı Bodrum": "0. Kat",
    "Bodrum": "0. Kat",
    "Kot 3": "-3. Kat",
    "Çatı Katı": "5. Kat",
    "Zemin": "0. Kat",
    "Giriş Katı": "0. Kat",
    "Villa Katı": "0. Kat",
    "21 ve üzeri": "21. Kat",
    "Bodrum ve Zemin": "0. Kat",
    "Asma Kat": "1. Kat",
    "Tripleks": "0. Kat",
    "Teras Katı": "5. Kat",
    "nan": "2. Kat"
}

In [119]:
df["celly 4"] = df["celly 4"].replace(replace_dict.keys(), replace_dict.values()).astype(str)
df["celly 4"].dropna(inplace=True)
df["floor"] = df["celly 4"].apply(lambda x: x.split(".")[0]).astype(int)

In [123]:
drop_columns(df, ["celly 4"])

In [124]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   city             8136 non-null   object
 2   district         8136 non-null   object
 3   neighborhood     8136 non-null   object
 4   room             8136 non-null   int32
 5   living_room      8136 non-null   int32
 6   area             8136 non-null   int32
 7   age              8136 non-null   int32
 8   floor            8136 non-null   int32
dtypes: int32(5), object(4)
memory usage: 413.3+ KB
None